.footer
  margin-top: auto
  background-color: $bgFooter
  padding: 25px 0 0 0
  &__inner
      margin: 0 auto
  &__logo
    display: none
  &__logo
    &_hoover
      fill: #000
    &_hoover:hover
      fill: #46C1AE
    &_hoover:active
      fill: #46C1AE
      opacity: 0.3
    &_academy
      fill: #63D1BB
    &_academy:hover
      fill: #46C1AE
    &_academy:active
      fill: #46C1AE
      opacity: 0.3
  &__social
    border-bottom: 1px solid #E5E5E5
  &__social ul
    display: flex
    flex-direction: row
    justify-content: center
    margin-bottom: 27px
  &__social img, svg
    vertical-align: middle
  &__social li
    margin-right: 41px
  &__social li:last-child
    margin-right: 0
  &__copyright
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 700
    font-size: 19px
    line-height: 18px
    display: flex
    justify-content: center
    margin: 22px 0
  &__copyright span
    display: inline-block
    padding-right: 27px
    vertical-align: middle
    color: #000
  &__copyright img, svg
    vertical-align: middle