.header
  &__burger
    width: 20px
    height: 14px
    transition: background-color .3s ease
    position: relative
    flex: 0 0 20px
    display: flex
    align-items: center
    align-self: center
    transition: transform .5s ease
    &::after,
    &::before
      position: absolute
      display: block
      left: 0
    &::before
      top: 0
    &::after
      bottom: 0
    &_line,
    &::after,
    &::before
      content: ""
      width: 100%
      height: 2px
      background: $black
      display: inline-block
      vertical-align: middle
      width: 100%
      height: 2px
      background-color: $black
      transition: transform .3s ease, opacity .3s ease, height .4s ease, top .3s ease
      opacity: 1
      transform-origin: center
  &._active &__burger
    transform: rotate(45deg)
    &_line
      transform: rotate(90deg)
    &::after
      bottom: calc(50% - 1px)
      opacity: 1
    &::before
      display: none
