//  Colors
$bodyColor: #fff
$black: #000
$blue: #63D1BB
$bgColor: #F9F9F9


$containerWidth: 1048px // content container from design
$containerPadding: 20px // безопасный падлинг для того чтоб контент не прилип при маленьком разрешений
$padding: 6em // Падинг для всех секций по макету

