//  Colors
$white: #fff
$black: #000
$accent: #63D1BB
$bgColor: #F9F9F9
$bgFooter: #F1F1F1
$bodyColor: #fff

$containerWidth: 1150px // Максимальная ширина контейнера при большом разрешении
// $containerPadding: 0px // Безопасный паддинг, для того чтоб контент не прилип при маленьком разрешений
$containerFormWidth: 920px

$headerHeightMobile: 79px
$headerHeightDesktop: 89px

$paddingMobile: 30px
$paddingDesktop: 50px
