@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  font-display: swap;
  src: url("../fonts/verdana-regular.woff2") format("woff2"), url("../fonts/verdana-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

html {
  font-family: sans-serif;
  font-weight: 400;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

.section {
  display: block;
  padding-top: 6em;
  padding-bottom: 6em;
}

.container {
  margin: 0 auto;
  max-width: 1028px;
  padding: 0 20px;
}

.container-right {
  padding-left: 17.4rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  font-size: 1rem;
}

.hero {
  background: url("../img/hero-desktop.png") 0 0/cover no-repeat #F9F9F9;
}

.footer {
  font-size: 1rem;
}

.webp .hero { background: url(../img/hero-desktop.webp) 0 0/cover no-repeat #F9F9F9; }