@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  font-display: swap;
  src: url("../fonts/verdana-regular.woff2") format("woff2"), url("../fonts/verdana-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

html {
  font-family: sans-serif;
  font-weight: 400;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.section {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin: 0 auto;
  max-width: 290px;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

.header__logo_wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  padding: 22px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo_svg {
  width: 149px;
  height: 72px;
  display: block;
}

.header__logo_text {
  fill: #000;
}

.header__logo_bg {
  fill: transparent;
}

.header__logo_bg2 {
  fill: transparent;
}

.header__logo_underline {
  fill: #000;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: #000;
  display: block;
  padding: 28.5px 5px 26.5px 70px;
  position: relitve;
  border-top: 1px solid #ECECEC;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.header__burger {
  width: 20px;
  height: 14px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.header__burger::after,
.header__burger::before {
  position: absolute;
  display: block;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger_line,
.header__burger::after,
.header__burger::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: opacity 0.3s ease, height 0.4s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, height 0.4s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease, height 0.4s ease, top 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, height 0.4s ease, top 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, height 0.4s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  opacity: 1;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.header._active .header__burger {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header._active .header__burger_line {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header._active .header__burger::after {
  bottom: calc(50% - 1px);
  opacity: 1;
}

.header._active .header__burger::before {
  display: none;
}

.header__nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.header__cart {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.cart__link_text {
  position: relative;
}

.cart__link_svg {
  position: absolute;
  top: calc(50% + 1px);
  left: -30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #000;
  opacity: 0.2;
  width: 18px;
  height: 18px;
}

.hero {
  background: url("../img/hero-desktop.png") 0 0/cover no-repeat #F9F9F9;
}

.webp .hero { background: url(../img/hero-desktop.webp) 0 0/cover no-repeat #F9F9F9; }